<!-- Loaders -->
<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_1">
    <app-loader-1 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_2">
    <app-loader-2 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_3">
    <app-loader-3 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_4">
    <app-loader-4 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_5">
    <app-loader-5 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_6">
    <app-loader-6 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_7">
    <app-loader-7 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_8">
    <app-loader-8 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_9">
    <app-loader-9 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_10">
    <app-loader-10 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_11">
    <app-loader-11 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_12">
    <app-loader-12 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_13">
    <app-loader-13 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_14">
    <app-loader-14 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_15">
    <app-loader-15 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_16">
    <app-loader-16 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_17">
    <app-loader-17 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_18">
    <app-loader-18 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_19">
    <app-loader-19 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_20">
    <app-loader-20 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_21">
    <app-loader-21 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_22">
    <app-loader-22 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_23">
    <app-loader-23 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_24">
    <app-loader-24 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_25">
    <app-loader-25 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_26">
    <app-loader-26 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_27">
    <app-loader-27 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_28">
    <app-loader-28 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_29">
    <app-loader-29 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_30">
    <app-loader-30 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_31">
    <app-loader-31 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_32">
    <app-loader-32 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_33">
    <app-loader-33 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_34">
    <app-loader-34 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_35">
    <app-loader-35 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_36">
    <app-loader-36 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_37">
    <app-loader-37 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_38">
    <app-loader-38 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_39">
    <app-loader-39 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_40">
    <app-loader-40 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_41">
    <app-loader-41 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_42">
    <app-loader-42 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_43">
    <app-loader-43 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_44">
    <app-loader-44 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_45">
    <app-loader-45 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_46">
    <app-loader-46 />
</app-loader-model>

<app-loader-model [changeBackgroundColor]="changeBackgroundColor" [loader]="loader_47">
    <app-loader-47 />
</app-loader-model>

<!-- Buttons -->
<main class="row">
    <div class="col-12 text-center title p-5 mt-5 rounded">
        <p class="h1">Loaders . . .</p>
    </div>
    <div class="col-12 mt-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="background-color"
                (change)="changeBackgroundColor = !changeBackgroundColor">
            <label class="form-check-label" for="background-color">¿Cambiar fondo?</label>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3 mt-5" *ngFor="let key of loaderKeys; let i = index; trackBy: trackByIndex">
        <app-buttons-card [loader_name]="key" (showLoader)="showLoader(key)">
        </app-buttons-card>
    </div>
</main>